.nadpis-vyber-zbozi {
    text-align: center;
}
.device-select {
    display: block;
    margin: 0 auto;
    width: 300Px;
    outline: none;
    border: 2px solid blue;
}
.proti-rozbiti-nadpis, .proti-kradezi-nadpis {
    text-align: center;
    font-size: 25px;
}
.vyber-zarizeni-cely {
    width: 400Px;
    display: block;
    margin: 20px auto 0 auto;
}
.vyber-zarizeni {
    border: 2px solid blue;
}