<div>
    <h2 class="nadpis-typ-pojisteni">Vyberte typ pojištění</h2>
    <div class="vyber-typu-pojisteni-cely">
        <div class="proti-rozbiti-cely">    
            <div class="proti-rozbiti notSelected-pojisteni" id="proti-kradezi" typPojisteni="proti-kradezi-selected">
                <h3 class="proti-rozbiti-nadpis">
                    Proti krádeži
                </h3>
                <div class="obrazek-fajfka-vzhled-cely">
                    <div class="obrazek-prava-strana" id="proti-kradezi-selected-prava" typPojisteni="proti-kradezi-selected"></div>
                    <img src="assets/images/selected.png" class="obrazek-fajfka invisible" id="proti-kradezi-selected">
                    <div class="obrazek-leva-strana" id="proti-kradezi-selected-leva" typPojisteni="proti-kradezi-selected"></div>
                </div>
            </div>
        </div>
        <div class="proti-kradezi-cely">
            <div class="proti-kradezi notSelected-pojisteni" id="proti-rozbiti" typPojisteni="proti-rozbiti-selected">
                <h3 class="proti-kradezi-nadpis">
                    Proti rozbití
                </h3>
                <div class="obrazek-fajfka-vzhled-cely">
                    <div class="obrazek-prava-strana" id="proti-rozbiti-selected-prava" typPojisteni="proti-rozbiti-selected"></div>
                    <img src="assets/images/selected.png" class="obrazek-fajfka invisible" id="proti-rozbiti-selected">
                    <div class="obrazek-leva-strana" id="proti-rozbiti-selected-leva" typPojisteni="proti-rozbiti-selected"></div>
                </div>
            </div>
        </div>
    </div>
</div>