<div>
    <h2 class="nadpis-typ-uhrady">Vyberte typ úhrady</h2>
    <div class="vyber-uhrady-cely">
        <div class="uhrada-mesicne-cela">
            <div class="uhrada-mesicne notSelected-uhrada" id="uhrada-mesicne" dobaSplatky="mesicne">
                <h3 class="uhrada-mesicne-nadpis">Měsíčně</h3>
                <p class="uhrada-mesicne-cena">238Kč</p>
                <div class="obrazek-fajfka-vzhled-cely">
                    <div class="leva-strana-obrazek"></div>
                    <img src="assets/images/selected.png" class="obrazek-fajfka invisible notSelected-uhrada-image" id="mesicne">
                    <div class="prava-strana-obrazek"></div>
                </div>
            </div>
        </div>
        <div class="uhrada-ctvrtletne-cela">
            <div class="uhrada-ctvrtletne notSelected-uhrada" id="uhrada-ctvrtletne" dobaSplatky="ctvrtletne">
                <h3 class="uhrada-ctvrtletne-nadpis">Čtvrtletně</h3>
                <p class="uhrada-ctvrtletne-cena">720Kč</p>
                <div class="obrazek-fajfka-vzhled-cely">
                    <div class="leva-strana-obrazek"></div>
                    <img src="assets/images/selected.png" class="obrazek-fajfka invisible notSelected-uhrada-image" id="ctvrtletne">
                    <div class="prava-strana-obrazek"></div>
                </div>
                </div>
        </div>
        <div class="uhrada-rocne-cela">
            <div class="uhrada-rocne notSelected-uhrada" id="uhrada-rocne" dobaSplatky="rocne">
                <h3 class="uhrada-rocne-nadpis">Ročně</h3>
                <p class="uhrada-rocne-cena">2 380Kč</p>
                <div class="obrazek-fajfka-vzhled-cely">
                    <div class="leva-strana-obrazek"></div>
                    <img src="assets/images/selected.png" class="obrazek-fajfka invisible notSelected-uhrada-image" id="rocne">
                    <div class="prava-strana-obrazek"></div>
                </div>
            </div>
        </div>
    </div>
</div>